body {
  margin: 0px;
  padding: 0;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header {
  z-index: 10;
}
.navTitle {
  padding-left: 10px;
  font-size: 35px;
  color:  #d67829;
  
}
.navSubTitle{
  font-size: 35px;
  color: white;
  
  
}
.containerLogo {
  background-color: pink;
  height: 60px;
  width: 60px;
  border-radius: 100px;
}
.logo{
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: solid black 30px;
}
.card {
  background-image: url('../src/vacas.jpg');

}
.card.small {
  /* height: 250; */
  /* width: 33%; */
  margin: 30px;
}
ul {
  display: flex;
  flex-direction: row;
}
.mainContainer {
  background-color: #333;
  background-image: url('../src/vacas.jpg');
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
}
.CommonContainer{
  /* margin-top: 20px; */
  padding-top: 160px;
  padding: 100px;
  width: 100%;
  height: 300px;
  border: solid black 3px;

}
.banner {
  background-color: #d67829;
  height: 230px;
  width: 100%;
  padding: 30px;
}
.bannerTitle {
  color:white;
  font-weight: 300 bold;
}
h1 {
  color: #43A047;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
}


.mainContainer {
  background-color: #333;
  height: 100vh;
  /* opacity: 0.5; */
}
main {
  flex: 1 0 auto;
}
nav {
  background-color: #073805;
  position: fixed;
  border-radius: 10px;
  top: 30px;
  
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  
}

.page-footer{
 
  width: 100%;
  padding: 0px;
  background-color: #073805;
}

/* FORMULARIO */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* .form-container {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50; 
} */

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  /* position: relative; */
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
.bannerForm{
  background-color: orange;
  height: 400px;
  width: 300px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  /* padding: 10px; */
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


.page-footer{
  text-align: center;

}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
